*{
	scroll-behavior: smooth;
}
.jumbotron{
	margin: 0px;
}

.row p,h1{
	text-align: center;
}
 
.text{
	color: white;
}
form{
	padding: 10px;
}

.jumbotron img{
	display:block;
    margin-left:auto;
    margin-right:auto;
}
